DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=flashbite
DATABASE_PASSWORD=flashbite

USER_SERVICE_DATABASE_NAME=flashbite_user
RESTAURANT_SERVICE_DATABASE_NAME=flashbite_restaurant
ORDER_SERVICE_DATABASE_NAME=flashbite_order
PAYMENT_SERVICE_DATABASE_NAME=flashbite_payment
DELIVERY_SERVICE_DATABASE_NAME=flashbite_delivery
